<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
<!--<ul th:each="${results}" style="list-style: none;">-->
    <!--<li td th:text="${results.operation}"></li>-->
    <!--<li th:text="${results.operands}"></li>-->
    <!--<li th:text="${results.result}"></li>-->
<!--</ul>-->

<li th:each="${results}" th:text="${results.operation}"></li>
</body>
</html>