<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<h1>Result</h1>
<p th:text="'operation: ' + ${operation.operation}"/>
<p th:text="'operands: ' + ${operation.operands}"/>
<p th:text="'result: ' + ${operation.result}"/>
<a href="/operation">Submit another operation</a>
</body>
</html>